// colors
$darkblue: #004f85;
$lightblue: #53a6e2;
$lighterblue: #00aacf;
$gray: #ebebeb;
$primary: #ea3a60;
$lightgray: #f9f9f9;

// fonts
$body-font-family: 'Poppins', sans-serif;

.v-popover  .trigger{
    display: block !important;
}

.btn {
  @apply font-bold text-sm;
  border: 1px solid $primary;
  border-radius: 3px;
  text-transform: uppercase;
  &.btn-primary{
    background: $primary;
    color: white;
    margin-right: 1rem;
  }
  &.btn-secondary{
    color: $primary;
    transition: .3s;
    &:hover{
      background: $primary;
      color: white;
    }
  }
}

// card home
$shadow: -9px -9px 16px #f8fafe, 9px 9px 16px #ced2db;
$small-shadow: -4px -4px 8px #f8fafe, 4px 4px 8px #ced2db;
$elevated-surface-color: #dfe8ef;
$hovered-surface-color: linear-gradient(
  135deg,
  rgba(0, 0, 0, 0.09),
  rgba(255, 255, 255, 0)
);
$small-inner-shadow: inset -4px -4px 8px #f0f3f9, inset 4px 4px 8px #ced2db,
  inset -1px -1px 4px #8e8e8e;
